<html>
<head>
        <title>我的隨身秘書</title>
</head>
<body>
      <h2>        
       <a href="/home">首頁</a>|<a href="/show">圖文</a>
      |<a href="/questions">所有問題</a>|<a href="/questions/create">建立新問題</a>
      |<a href="/answers">所有答案</a>
      |<a href="/board">觀看留言板</a>|<a href="/post">新增留言</a>
      |<a href="/diary">瀏覽所有日誌</a>|<a href="/diary/add">寫日誌</a>
      |<a href="/money/add">記帳</a>
      |<a href="/admin">後臺管理</a>
      </h2>
        {% block content %}
        {% endblock %}
</body>
</html>
