{% extends "base.html" %}

{% block content %}
<div class="contentbox">
    <h2>認識高血壓</h2>
    
  <a class="btn" href="#H1">什麼是高血壓</a><a class="btn" href="#H2">高血壓分為兩類</a><a class="btn" href="#H3">血壓如何測量</a><a class="btn" href="#H4">血壓多少才算高血壓？</a><a class="btn" href="#H5">測量血壓應注意的事項</a><a class="btn" href="#H6">高血壓的併發症</a>
    <div class="editbox_1">        
    <a name="H1"></a><h4 class="knowtitle"><img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1371575/android/stickers/14604383.png" width="15" height="16">什麼是高血壓？</h4>
    <p>在了解什麼是高血壓之前,我們先看看......什麼是血壓 ?血液由心臟送出,循環體內一周,到流回心臟的時間,大概是十到二十秒。其間經過的距離其實相當長,但速度仍如此快,顯見心臟「運輸能力」之強勁!至於這強大運送力的根源,當然就是心臟的壓縮與博動而血管則不斷被流經過的血液衝動擊,血管壁受到的血液壓力便稱為「血壓」。</p><p>再者,血壓是血液壓迫動脈血管壁所造成的力量。每個人必須有這種血壓,血液才能到達器官與肌肉。</p>
    <p class="top"><a href="#"><img src="http://hypertension.org.tw/images/icon_top.jpg" width="35" height="16"></a></p>
    </div>
    <div class="editbox_1">        
    <a name="H2"></a><h4 class="knowtitle"><img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1371575/android/stickers/14604383.png" width="15" height="16">高血壓分為兩類</h4>
    <h3>●「繼發性高血壓」</h3>
    <p>主要是由腎臟病所造成,但偶爾也出現因為主動脈狹窄﹑某些荷爾蒙分泌過多,以及與腦垂體腎上腺腎臟腫瘤腦部或血流壓縮有關的病症所引起。</p>
    <h3>●「原發性(secondary)高血壓」</h3>
    <p>定義是原因不明,不過已經知道很多引起原發性高血壓的重要病因,只要及早排除這些原因也能有效降低血壓。</p>
    <p class="top"><a href="#"><img src="http://hypertension.org.tw/images/icon_top.jpg" width="35" height="16"></a></p>
    </div>
     <div class="editbox_1">        
    <a name="H3"></a><h4 class="knowtitle"><img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1371575/android/stickers/14604383.png" width="15" height="16">血壓如何測量</h4>
    <div class="textbox"><p>血壓是用一對數字表示,例如 : 130/85,這是因為血液使動脈血管受到的壓力並不總是相同。</p><p>最高壓力是當心臟把血液壓出;在兩次心跳間,當您的心臟在休息時,壓力會落到最低點。不論是最高或最低的壓力,對動脈血管都是重要的,所以血壓由兩個部份組成。</p><p>醫師稱數字大的為收縮壓 (systolic pressure) ,數字小的是舒張壓 (diastolic pressure)。</p></div>
    <br class="clear">
    <p class="top"><a href="#"><img src="http://hypertension.org.tw/images/icon_top.jpg" width="35" height="16"></a></p>
    </div>
    <div class="editbox_1">        
    <a name="H4"></a><h4 class="knowtitle"><img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1371575/android/stickers/14604383.png" width="15" height="16">血壓多少，才算是高血壓？</h4>
    <p>高血壓的定義越來越謹慎,以下是 1999年2月世界衞生組織新公佈"高血壓定義與分類"。</p>
    <p class="title_send">成年人之血壓分期
    </p><table class="pressurebox" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tbody><tr>
   <td class="orange" colspan="3"><b>正常血壓</b></td>
    </tr>
  <tr>
    <td>血壓分類</td>
    <td>收縮壓(毫米汞柱)</td>
    <td>舒壓(毫米汞柱)</td>
  </tr>
  <tr>
    <td>理想血壓</td>
    <td>正常血壓</td>
    <td>正常但偏高</td>
  </tr>
  <tr>
    <td>＜120毫米汞柱</td>
    <td>＜130毫米汞柱</td>
    <td>130-139 毫米汞柱</td>
  </tr>
  <tr>
    <td>及＜80 毫米汞柱</td>
    <td>及＜85毫米汞柱</td>
    <td>或85-89 毫米汞柱</td>
  </tr>
  <tr>
    <td class="orange" colspan="3"><b>高　血　壓</b></td>
  </tr>
  <tr>
    <td>血壓分期</td>
    <td>收縮壓(毫米汞柱)</td>
    <td>舒壓(毫米汞柱)</td>
  </tr>
  <tr>
    <td>第一期</td>
    <td>第二期</td>
    <td>第三期</td>
  </tr>
  <tr>
    <td>140-159 毫米汞柱</td>
    <td>160-179 毫米汞柱</td>
    <td>＞=180 毫米汞柱</td>
  </tr>
  <tr>
    <td>或90-99 毫米汞柱</td>
    <td>或100-109 毫米汞柱</td>
    <td>或＞=110  毫米汞柱</td>
  </tr>
</tbody></table><p></p>
    <p>所列之血壓分期,只適用於沒有服用降血壓藥物及沒有急性疾病之患者,並且病患需測量血壓兩次或兩次以上,以求其平均血壓值。當收縮壓及舒張壓分別落在不同分期中時,應選擇較高之血壓值作為該病患血壓分期之依據。</p>
    <p class="top"><a href="#"><img src="http://hypertension.org.tw/images/icon_top.jpg" width="35" height="16"></a></p>
    </div>
    <div class="editbox_1">        
    <a name="H5"></a><h4 class="knowtitle"><img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1371575/android/stickers/14604383.png" width="15" height="16">建議病患測量血壓應注意下列方法</h4>
    <div class="textbox">
    <ul class="listtext">
    <li>患者應該坐在有靠背的椅子上,手臂支撐在與心臟同高之位置,並且應於量血壓前三十分禁止抽煙及攝取含咖啡因之飲料。</li>
    <li>在特殊情況下必須測量平躺及站立之血壓。</li>
    <li>測量前必須休息五分鐘。</li>
    <li>選用適當大小之血壓加壓帶。</li>
    <li>建議使用水銀血壓計或校正過之無液或電子血壓計。</li>
    <li>收縮壓及舒張壓均需詳細記錄。</li>
    <li>使用兩次或兩次以上之測量結果,以求取平均值。並且兩次測量間必須間隔兩分鐘以上。假如,前兩次的數值差異大於5 (毫米汞柱) ,就必須再測量更多次。</li>
    </ul></div>
    <br class="clear">
    <p class="top"><a href="#"><img src="http://hypertension.org.tw/images/icon_top.jpg" width="35" height="16"></a></p>
    </div>
    <div class="editbox_1">        
    <a name="H6"></a><h4 class="knowtitle"><img src="https://sdl-stickershop.line.naver.jp/products/0/0/1/1371575/android/stickers/14604383.png" width="15" height="16">要注意高血壓的併發症</h4>
    <p>持續性的高血壓必須要治療,因為長期血壓偏高就會發生嚴重的併發症。造成腦.眼.心腎等器官的損害,輕者半身不遂,器官功能喪失,重者危害性命,不可不注意。</p></div>
    <div class="editbox_1">        
    <p>血液由心臟送出血流的壓力高於血管所能承受的壓力時,就會發生兩種結果:一種是高壓導致血管壁受損,表面脫落的碎屑阻塞血管,另一種是高壓導致血管破裂,造成溢血的現象。這就是高血壓損害血管及體內器官的原因,我們稱這些作用為「阻塞作用」及「破裂效應」。</p>
    <p class="green">一.阻塞作用可以發生:</p>
    <p><span class="blue">心臟</span><br>如果冠狀動脈提供心臟血液的部份阻塞,在爬坡或上樓時胸部前方便會疼痛;這也就是心絞痛。如冠狀動脈血栓症或心肌梗塞等。<br><span class="blue">主動脈</span><br>主動脈是體內最大的血管,其內膜組織會因蠟狀物質堆積而變得粗糙不平,逐漸隆起腫脹﹑形成動脈瘤。這些腫瘤血塊可能分離成血栓,流入通往腎臟或大腿的動脈,阻礙腎臟或腿部的血液循環。<br><span class="blue">腿與腳</span><br>如果蠟狀物質造成身體下半部或大腿動脈的部份阻塞,則患者在爬坡時小腿會感到疼痛。若腿部動脈完全阻塞,則會引起腳趾或腳掌生壞疽。腦部<br>頸動脈內部組織因血壓過高如果變得粗糙,就可能產生大的血塊,這些血塊向上流入腦部,則可能完全阻礙血液輸送至腦部的某一部份,導致栓塞性中風。<br><span class="blue">眼睛</span><br>高血壓患者比一般人更容易產生眼部動脈栓塞現象﹑眼部靜脈阻塞或視網膜剥離等症狀。<br><span class="blue">其他器官</span><br>事實上,身體其他器官的血液供輸量都可能因高血壓所造成的血管阻塞而減低,甚至完全停止。</p>
    <p class="green">二.破裂效應</p>
    <p><span class="blue">心臟</span><br>血壓升高會大大增加心臟的負擔,因為此時動脈系統變得狹窄緊縮,阻力因而加大,所以心臟很難將血液打入動脈。最後,如果左心室輸出血液的速度突然無法趕上血液由右心室流回肺部的速度,就會導致嚴重的心臟衰竭,這種類型的心臟衰竭並非真的由破裂效應所造成過程相似所以把它列在這裡。<br><span class="blue">主動脈</span><br>如先前於阻塞效應中所述,主動脈可能產生動脈瘤。如果血壓非常高,且動脈瘤壁很脆弱的時候,動脈瘤就可能破裂。動脈瘤破裂通常分成兩個階段:第一階段,動脈內膜組織裂開,血液湧入主動脈壁的中層組織中;此時會有劇烈的胸部疼痛,因此容易被誤診為冠狀動脈性心臟病發作。第二個階段是主動脈壁的外層破裂,數秒內或數分鐘內即會致命。<br><span class="blue">腦部</span><br>腦部的動脈瘤是指在動脈血管壁上形成的泡泡狀小血瘤,產生的原因包括天生血管壁較脆弱,或高血壓使正常的血管壁膨脹所致;發生的部位包括腦部表面(通常為先天型的血管瘤)或在腦的內部(一般為高血壓所引起的血管瘤)。<br>如果腦部表面的動脈瘤破裂,血液會流入腦脊髓中,稱為蛛網膜下出血,患者會覺得頭痛得厲害,不過不會立即失去意識或中風。破裂的是腦內動脈瘤(腦內出血),會破壞腦組織的一部份,有時候會失去意識,會立即或在一.二個小時之內發展成身體半邊癱瘓的中風,也就是半身不遂。<br><span class="blue">眼睛</span><br>血壓非常高的時候(指舒張壓超過120 mmHg),這些小動脈便會滲出液體,流入視網膜內,造成視線不清如果大幅升高的血壓並沒有於數小時之內下降,則視網膜的小動脈就可能會出血,對視力造成永久性的損害。<br><span class="blue">腎臟</span><br>血壓很高的時候,腎臟的小動脈會以和視網膜動脈一樣的方式破裂,導致腎功能快速喪失,患者在幾個星期或幾個月未接受治療,可能會變成無法補救的腎衰竭。</p>
    <p class="top"><a href="#"><img src="http://hypertension.org.tw/images/icon_top.jpg" width="35" height="16"></a></p>
    </div>
    </div>
{% endblock %}